@import "compass/css3";
@import "compass/css3/images";
@import "compass/utilities/color";

@import "reset";
@import "base";
@import "common";

body {
  background: url("../images/noise_1.png");  
}

#stream {
  padding-top: 6em;
  width: 820px;
  margin-left: auto;
  margin-right: auto;
  background: rgba(255, 255, 255, .5);
  .tile {
    width: 100%;
    padding: 1em;
    margin-bottom: 2em;
    .sidepanel {
      width: 200px;
      height: 100%;
      background: white;
      float: right;
    }
    .hyp-paper {
      width: 500px;
    }
    .favicon {
      width: 16px;
      margin-right: .5em;
    }
    & > a {
      display: inline-block;
      margin-bottom: 1em;
      font-weight: bold;
    }
    .hyp-annotation {
      margin-bottom: 0;
    }
  }
}

.hyp-excerpt {
  blockquote {
    margin-bottom: 1em;
  }
}

.navtainer {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
  background: white;
  border-bottom: 1px solid $gray-lighter;
  text-align: center;
  .navinner {
    height: 2em;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    .titletext {
      font-size: 2.5em;
      float: left;
    }
    .a-dropdown {
      float: right;
    }
    .streamnav {

    }
  }
}