@import "compass/css3";
@import "compass/css3/images";
@import "compass/utilities/color";

@import "reset";
@import "base";
@import "common";

#stream {
  margin-top: 6em;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  .tile {
    position: relative;
    padding: 1em;
    margin: 1em;
    & > div {
      position: relative;
      margin-bottom: 1em;
    }
    .pagetile {
      @include box-shadow(inset 0 0 6px rgba(0, 0, 0, .2));
      @include border-radius(.2em);
      background: url("../images/noise_1.png");
      position: absolute;
      top: 0;
      left: 0;
      right: 25%;
      height: 90px;
      z-index: -1;
    }
    a {
      width: 70%;
      display: inline-block;
      margin-bottom: 1em;
      font-weight: bold;
    }
    .hyp-annotation {
      margin-bottom: 0;
    }
  }
}

.hyp-excerpt {
  blockquote {
    margin-bottom: 1em;
  }
}

.navtainer {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
  background: white;
  border-bottom: 1px solid $gray-lighter;
  text-align: center;
  .navinner {
    height: 2em;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    .titletext {
      font-size: 2.5em;
      float: left;
    }
    .a-dropdown {
      float: right;
    }
    .streamnav {

    }
  }
}