@import "compass/css3";
@import "compass/css3/images";
@import "compass/utilities/color";

@import "reset";
@import "base";
@import "common";

body {
  background: url("../images/noise_1.png");
}

#stream {
  padding-top: 6em;
  width: 820px;
  margin-left: auto;
  margin-right: auto;
  background: rgba(255, 255, 255, .5);
  .tile {
    width: 100%;
    padding: 1em;
    margin-bottom: 0em;
    display: inline-block;
    .domain {
      text-align: right;
      margin-bottom: .5em;
      img{
        float: right;
      }
    }
    .sidepanel {
      width: 200px;
      height: 200px;
      float: left;
      margin-right: 1em;
      .control {
        display: block;
        text-align: right;
        float: right;
        clear: both;
        margin-bottom: 1em;
        .innertext {
          float: right;
        }
        .tempfave {
          @include linkbutton_right;
          background-image: url("../images/fave_1.png"); 
        }
        .tempexpand {
          @include linkbutton_right;
          background-image: url("../images/plus_2.png"); 
        }
        .tempgoto {
          @include linkbutton_right;
          background-image: url("../images/share_1.png"); 
        }
        .insidebox {
          float: right;
          width: 40px;
          height: 40px;
          background: url("../images/avatar_1.jpg");
          margin-left: .5em;
        }
      }
    }
    .hyp-paper {
      width: 580px;
      float: left;
    }
    .favicon {
      width: 16px;
      margin-right: .5em;
    }
    & > a {
      display: inline;
      margin-bottom: 1em;
      font-weight: bold;
    }
    .hyp-annotation {
      margin-bottom: 0;
    }
  }
}

.hyp-excerpt {
  blockquote {
    margin-bottom: 1em;
  }
}

.navtainer {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
  background: white;
  border-bottom: 1px solid $gray-lighter;
  text-align: center;
  .navinner {
    height: 2em;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    .titletext {
      font-size: 2.5em;
      float: left;
    }
    .a-dropdown {
      float: right;
    }
    .streamnav {

    }
  }
}