@import "compass/css3";
@import "compass/css3/images";
@import "compass/utilities/color";

@import "reset";
@import "base";
@import "common";

body {
  background: url("../images/noise_1.png");
}

#stream {
  padding-top: 6em;
  width: 900px;
  margin-left: auto;
  margin-right: auto;
  background: rgba(255, 255, 255, .5);
  .tile {
    width: 100%;
    padding: 1em;
    margin-bottom: 1em;
    display: inline-block;
    .domain {
      text-align: right;
      margin-bottom: .5em;
      img{
        float: right;
      }
    }
    .page {
      display: block;
      margin-bottom: 1em;
      a {
        font-weight: bold;
      }
    }
    .domain {
      float: right;

      .favicon {
        margin-left: .5em;
      }
    }
    .control {
      display: block;
      text-align: right;
      float: right;
      margin-bottom: .7em;
      font-size: 1.3em;
      opacity: .5;
      a {
        @include linkbutton_right;
        padding-right: 1.3em;
        float: right;
        div {
          @include transition-property(opacity);
          @include transition-duration(.14s);
          @include transition-timing-function(ease-in);

          overflow: hidden;
          white-space: nowrap;
        }
      }
      &:hover {
        opacity: .8;
      }
      .innertext {
        float: right;
      }
      .fave {
        background-image: url("../images/fave_2.png"); 
      }
      .goto {
                  @include transition-property(opacity);
          @include transition-duration(.14s);
          @include transition-timing-function(ease-in);

        opacity: 0;
        background-image: url("../images/goto_2.png"); 
      }
      .flag {
        background-image: url("../images/flag_4.png"); 
      }
    }    
    .sidepanel {
      float: left;
      margin-right: 1em;

      .avablock {
        float: right;
        margin-bottom: .5em;
        img {
          border-radius: .2em;
          @include smallshadow;
          opacity: .7;
          width: 60px;
          height: 60px;
          // background-image: url("../images/avatar_1.jpg");
        }
      }
    }
    .rightsidepanel {
      float: left;
      margin-left: 2em;
      margin-top: 2em;
      position: relative;
      width: 100px;
      .biggoto{
        opacity: .1;
        width: 50px;
        height: 50px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100% 100%;
        background-image: url("../images/goto_5.png");
      }
      .label {
        bottom: 40%;
        left: -20%;
        position: absolute;
        font-size: 1.3em;
        font-weight: bold;
        text-shadow:  white 1px 1px 0px;
      }
    }
    .metadata {
      font-size: 1.3em;
      margin-bottom: .5em;
      display: inline-block;
      clear: none;
    }
    &:hover {
      .goto {
        opacity: 1 !important;
      }
      .ava {
        opacity: 1 !important;
      }
    }
    .papercontainer {
      width: 600px;
      float: left;
    }
    .hyp-paper {
    }

    .favicon {
      width: 16px;
      margin-right: .5em;
    }

    .hyp-annotation {
      margin-bottom: 0;
    }
  }
}

.hyp-excerpt {
  blockquote {
    margin-bottom: 1em;
  }
}

.navtainer {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
  background: white;
  border-bottom: 1px solid $gray-lighter;
  text-align: center;
  .navinner {
    height: 2em;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    .titletext {
      font-size: 2.5em;
      float: left;
    }
    .a-dropdown {
      float: right;
    }
    .streamnav {

    }
  }
}