#stream{"ng-controller" => "annoList"}
  .tile{"ng-repeat" => "annotation in annotations"}
    %div
      {{annotation.info}}
    .hyp-paper.hyp-excerpt
      %a{:href => "{{annotation.link}}"} {{annotation.page}}
      %blockquote
        {{annotation.excerpt}}
    .hyp-annotation.hyp-paper.hyp-detail
      .topbar
        .hyp-user {{annotation.name}}
        .hyp-time {{annotation.time}}
      .hyp-content {{annotation.text}}
