.navtainer
  .navinner
    .titletext hypothes<span class="red">.</span>is
    %span.streamnav
      <a>My Annotations</a> | <a>New Annotations</a>
    .a-dropdown
      %span woah
      %ul
        %li Profile
        %li Settings