.annotator-outer.annotator-viewer
  %ul.annotator-widget.annotator-listing
    %li.hyp-paper.hyp-excerpt
      %blockquote Accordingly, to characterize the ecology of human-associated microbial communities, the Human Microbiome Project has analysed the largest cohort and set of distinct, clinically relevant body habitats so far.
    %li.hyp-annotation.hyp-paper.hyp-detail.hyp-hover
      %a.hyp-threadexp{:href => "#collapse"}
      .topbar
        .hyp-user cdarwin
        .hyp-time 14 days ago
        .annotator-controls
          %a.hyp-write{:href => "#reply"} Reply
      .hyp-content Here, as on other occasions, I lie under a heavy disadvantage, for out of the many striking cases which I have collected, I can give only one or two instances of transitional habits and structures in closely allied species of the same genus; and of diversified habits, either constant or occasional, in the same species. And it seems to me that nothing less than a long list of such cases is sufficient to lessen the difficulty in any particular case like that of the bat.
      .hyp-thread
        %ul.annotator-listing
          %li.hyp-annotation.hyp-detail
            %a.hyp-threadexp{:href => "#collapse"}
            .topbar
              .hyp-user SJGould
              .hyp-time 14 days ago
              .annotator-controls
                %a.hyp-write{:href => "#reply"} Reply
            .hyp-content But most of all I am saddened by a trend I am just beginning to discern among my colleagues. I sense that some now wish to mute the healthy debate about theory that has brought new life to evolutionary biology.
            .hyp-thread
              %ul.annotator-listing
          %li.hyp-annotation.hyp-detail
            %a.hyp-threadexp{:href => "#collapse"}
            .topbar
              .hyp-user RDawkins
              .hyp-time 14 days ago
              .annotator-controls
                %a.hyp-write{:href => "#reply"} Reply
            .hyp-content But perhaps the rest of us could have separate classes in science appreciation, the wonder of science, scientific ways of thinking, and the history of scientific ideas, rather than laboratory experience.
            .hyp-thread
              %ul.annotator-listing