.tile.ng-isolate-scope.ng-scope{:anno => "exp", "ng-repeat" => "child in node.children", :node => "child", :parent => "node"}
  %ul.annotator-widget.annotator-listing.ng-scope
    %li.sidepanel
      .avablock
        %img.ava{:src => "images/avatar_3.jpg"}
    .papercontainer
      .metadata
        %a.ng-binding{:href => ""} xXbRiAnSgIrLXx
        annotated:
      .control
        %a.goto{:href => ""}
          .inner To Annotation
      %li.hyp-annotation.hyp-paper.hyp-detail.hyp-excerpt{"ng-click" => "showHide=!showHide"}
        .page
          %a.ng-binding{:href => "http://www.reuters.com/article/2012/07/28/us-china-environment-protest-idUSBRE86R02Y20120728"} China cancels waste project after protests turn violent |...
          .domain.ng-binding
            reuters.com
            %img.favicon{"ng-src" => "http://reuters.com/favicon.ico", :src => "http://reuters.com/favicon.ico"}
        %blockquote.ng-binding{"ng-hide" => "showHide", "ng-show" => "node.srclevel", :style => "display: none; "}
          Demonstrators seized bottles of liquor and wine from the offices along with cartons of cigarettes, items which Chinese officials frequent...
        %blockquote.ng-binding{"ng-show" => "showHide", :style => ""}
          Demonstrators seized bottles of liquor and wine from the offices along with cartons of cigarettes, items which Chinese officials frequently receive as bribes. A photograph posted on Sina Weibo, the main Chinese microblogging service, showed some of the items displayed outside the government building.
        .topbar
          .hyp-user.ng-binding xXbRiAnSgIrLXx
          .hyp-time.ng-binding about 3 day ago
        .hyp-content.ng-binding{"ng-hide" => "showHide", :style => "display: none; "} Chinese officials sound really easy to bribe.
        .hyp-content.ng-binding{"ng-show" => "showHide", :style => ""} Chinese officials sound really easy to bribe.
        .hyp-thread
          %ul.annotator-listing{"ng-show" => "showHide", :style => ""}
            / ngRepeat: child in node.children
            %li.hyp-annotation.hyp-detail.hyp-collapsed.ng-isolate-scope.ng-scope{"ng-repeat" => "child in node.children", :node => "child", :parent => "node", :tree => "exp"}
              %a.hyp-threadexp.ng-scope{:href => "#collapse"}
              %span.ng-scope
              .topbar.ng-scope
                .hyp-user.ng-binding notouch
                <di background-repeat:="" no-repeat;="" background-position:="" center;="" background-size:="" 100%="" 100%;v="" class="hyp-time ng-binding">about 1 day ago
              %span.ng-scope
              .hyp-content.ng-scope.ng-binding Just talked to someone who came here from China. Apparently foreign liquor and cigarettes cost ten-fold of its original price, if not more. So these things are easily $100 each. Not to mention these were only items found in the office, not their private mansion. Also learned that it's very common to treat someone to dinner or a massage parlor as form of bribery. A good fancy dinner cost a few hundred dollars, even thousands of dollars. The massage parlor usually offer some special kind of service in the back-end.
              %span.ng-scope
              .hyp-thread.ng-scope
                %ul.annotator-listing
                  / ngRepeat: child in node.children
                  %li.hyp-annotation.hyp-detail.ng-isolate-scope.ng-scope{"ng-repeat" => "child in node.children", :node => "child", :parent => "node", :tree => "exp"}
                    %a.hyp-threadexp.ng-scope{:href => "#collapse"}
                    %span.ng-scope
                    .topbar.ng-scope
                      .hyp-user.ng-binding elmer_the_arse
                      <di background-repeat:="" no-repeat;="" background-position:="" center;="" background-size:="" 100%="" 100%;v="" class="hyp-time ng-binding">about 1 day ago
                    %span.ng-scope
                    .hyp-content.ng-scope.ng-binding what if the corrupt official does't like 'the special kind of service in the back end'?
                    %span.ng-scope
                    .hyp-thread.ng-scope
                      %ul.annotator-listing
                        / ngRepeat: child in node.children
                        %li.hyp-annotation.hyp-detail.ng-isolate-scope.ng-scope{"ng-repeat" => "child in node.children", :node => "child", :parent => "node", :tree => "exp"}
                          %a.hyp-threadexp.ng-scope{:href => "#collapse"}
                          %span.ng-scope
                          .topbar.ng-scope
                            .hyp-user.ng-binding notouch
                            <di background-repeat:="" no-repeat;="" background-position:="" center;="" background-size:="" 100%="" 100%;v="" class="hyp-time ng-binding">about 1 day ago
                          %span.ng-scope
                          .hyp-content.ng-scope.ng-binding I'm sure they provide special service in the front end too. ;)
                          %span.ng-scope
                          .hyp-thread.ng-scope
                            %ul.annotator-listing
                              / ngRepeat: child in node.children
                  %li.hyp-annotation.hyp-detail.ng-isolate-scope.ng-scope{"ng-repeat" => "child in node.children", :node => "child", :parent => "node", :tree => "exp"}
                    %a.hyp-threadexp.ng-scope{:href => "#collapse"}
                    %span.ng-scope
                    .topbar.ng-scope
                      .hyp-user.ng-binding G0VERNMENT
                      <di background-repeat:="" no-repeat;="" background-position:="" center;="" background-size:="" 100%="" 100%;v="" class="hyp-time ng-binding">about 22 hours ago
                    %span.ng-scope
                    .hyp-content.ng-scope.ng-binding Ya, its called using back doors and is considered normal and is so common place that it borders on acceptable in Chinese culture.
                    %span.ng-scope
                    .hyp-thread.ng-scope
                      %ul.annotator-listing
                        / ngRepeat: child in node.children
            %li.hyp-annotation.hyp-detail.ng-isolate-scope.ng-scope{"ng-repeat" => "child in node.children", :node => "child", :parent => "node", :tree => "exp"}
              %a.hyp-threadexp.ng-scope{:href => "#collapse"}
              %span.ng-scope
              .topbar.ng-scope
                .hyp-user.ng-binding ponto1
                <di background-repeat:="" no-repeat;="" background-position:="" center;="" background-size:="" 100%="" 100%;v="" class="hyp-time ng-binding">about 1 day ago
              %span.ng-scope
              .hyp-content.ng-scope.ng-binding China has had some of the most insanely fast economic growth of world history in the past couple of decades. Very few will protest until this kind of growth stops.
              %span.ng-scope
              .hyp-thread.ng-scope
                %ul.annotator-listing
                  / ngRepeat: child in node.children
                  %li.hyp-annotation.hyp-detail.ng-isolate-scope.ng-scope{"ng-repeat" => "child in node.children", :node => "child", :parent => "node", :tree => "exp"}
                    %a.hyp-threadexp.ng-scope{:href => "#collapse"}
                    %span.ng-scope
                    .topbar.ng-scope
                      .hyp-user.ng-binding dingdongpuddi
                      <di background-repeat:="" no-repeat;="" background-position:="" center;="" background-size:="" 100%="" 100%;v="" class="hyp-time ng-binding">about 1 day ago
                    %span.ng-scope
                    .hyp-content.ng-scope.ng-binding Actually there's been many reports on how little, if any, benefits of this decades-long growth for the poor and rural. Here's one such report: http://www.nytimes.com/2008/01/13/world/asia/13china.html?pagewanted=all
                    %span.ng-scope
                    .hyp-thread.ng-scope
                      %ul.annotator-listing
                        / ngRepeat: child in node.children
                        %li.hyp-annotation.hyp-detail.ng-isolate-scope.ng-scope{"ng-repeat" => "child in node.children", :node => "child", :parent => "node", :tree => "exp"}
                          %a.hyp-threadexp.ng-scope{:href => "#collapse"}
                          %span.ng-scope
                          .topbar.ng-scope
                            .hyp-user.ng-binding anarcho-fox
                            <di background-repeat:="" no-repeat;="" background-position:="" center;="" background-size:="" 100%="" 100%;v="" class="hyp-time ng-binding">about 1 day ago
                          %span.ng-scope
                          .hyp-content.ng-scope.ng-binding its becuase the chinese rural poor are the government sanctioned rural poor...they arent allowed to join into the urban growth because they are designated rural workers http://en.wikipedia.org/wiki/Hukou_system china has a form of caste system thats not talked about much...the government fears that ending it would catapult all the rural poor into the cities and that it would fuck everything up
                          %span.ng-scope
                          .hyp-thread.ng-scope
                            %ul.annotator-listing
                              / ngRepeat: child in node.children
                              %li.hyp-annotation.hyp-detail.ng-isolate-scope.ng-scope{"ng-repeat" => "child in node.children", :node => "child", :parent => "node", :tree => "exp"}
                                %a.hyp-threadexp.ng-scope{:href => "#collapse"}
                                %span.ng-scope
                                .topbar.ng-scope
                                  .hyp-user.ng-binding TBradley
                                  <di background-repeat:="" no-repeat;="" background-position:="" center;="" background-size:="" 100%="" 100%;v="" class="hyp-time ng-binding">about 1 day ago
                                %span.ng-scope
                                .hyp-content.ng-scope.ng-binding Yep, they have an internal passport like system.
                                %span.ng-scope
                                .hyp-thread.ng-scope
                                  %ul.annotator-listing
                                    / ngRepeat: child in node.children
                              %li.hyp-annotation.hyp-detail.ng-isolate-scope.ng-scope{"ng-repeat" => "child in node.children", :node => "child", :parent => "node", :tree => "exp"}
                                %a.hyp-threadexp.ng-scope{:href => "#collapse"}
                                %span.ng-scope
                                .topbar.ng-scope
                                  .hyp-user.ng-binding Baraka_Flocka_Flame
                                  <di background-repeat:="" no-repeat;="" background-position:="" center;="" background-size:="" 100%="" 100%;v="" class="hyp-time ng-binding">about 23 hours ago
                                %span.ng-scope
                                .hyp-content.ng-scope.ng-binding I remember seeing a video on reddit a year or so ago where an economist was displaying the vast wealth disparities in china based on the province. Without really getting into details, it showed how many of the most industrialized urban areas had wealth equivalent to the wealthiest western nations while the rural areas had wealth equivalent to some of the poorest areas in Africa. I can't seem to find it though, anyone know what I'm talking about?
                                %span.ng-scope
                                .hyp-thread.ng-scope
                                  %ul.annotator-listing
                                    / ngRepeat: child in node.children
                                    %li.hyp-annotation.hyp-detail.ng-isolate-scope.ng-scope{"ng-repeat" => "child in node.children", :node => "child", :parent => "node", :tree => "exp"}
                                      %a.hyp-threadexp.ng-scope{:href => "#collapse"}
                                      %span.ng-scope
                                      .topbar.ng-scope
                                        .hyp-user.ng-binding AmIKawaiiUguuu
                                        <di background-repeat:="" no-repeat;="" background-position:="" center;="" background-size:="" 100%="" 100%;v="" class="hyp-time ng-binding">about 20 hours ago
                                      %span.ng-scope
                                      .hyp-content.ng-scope.ng-binding http://www.economist.com/content/chinese_equivalents
                                      %span.ng-scope
                                      .hyp-thread.ng-scope
                                        %ul.annotator-listing
                                          / ngRepeat: child in node.children
                                          %li.hyp-annotation.hyp-detail.ng-isolate-scope.ng-scope{"ng-repeat" => "child in node.children", :node => "child", :parent => "node", :tree => "exp"}
                                            %a.hyp-threadexp.ng-scope{:href => "#collapse"}
                                            %span.ng-scope
                                            .topbar.ng-scope
                                              .hyp-user.ng-binding green_flash
                                              <di background-repeat:="" no-repeat;="" background-position:="" center;="" background-size:="" 100%="" 100%;v="" class="hyp-time ng-binding">about 19 hours ago
                                            %span.ng-scope
                                            .hyp-content.ng-scope.ng-binding If you look at GDP per capita, it's actually not that bad. Even the poorest province (Guizhou) is still on the same level as India.And with the exemption of city states like HK, Macau, Shanghai, Beijing and Tianjin no province is richer than 4 times the poorest.That's better than Brazil and India inequality-wise, but not as good as in the US of course: Mississippi has about half the GDP per capita of Connecticut, one of the richest.
                                            %span.ng-scope
                                            .hyp-thread.ng-scope
                                              %ul.annotator-listing
                                                / ngRepeat: child in node.children
                                    %li.hyp-annotation.hyp-detail.ng-isolate-scope.ng-scope{"ng-repeat" => "child in node.children", :node => "child", :parent => "node", :tree => "exp"}
                                      %a.hyp-threadexp.ng-scope{:href => "#collapse"}
                                      %span.ng-scope
                                      .topbar.ng-scope
                                        .hyp-user.ng-binding jaylink
                                        <di background-repeat:="" no-repeat;="" background-position:="" center;="" background-size:="" 100%="" 100%;v="" class="hyp-time ng-binding">about 20 hours ago
                                      %span.ng-scope
                                      .hyp-content.ng-scope.ng-binding Oh no, that could never happen here. Eastern Tennessee -vs- NYC, cough, cough. Compton -vs- Beverly Hills -- that's only a few miles.
                                      %span.ng-scope
                                      .hyp-thread.ng-scope
                                        %ul.annotator-listing
                                          / ngRepeat: child in node.children